<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <style>
        body{
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            height: 15rem;
            width: 15rem;
        }
    </style>
</head>
<body>
    <img src="/images/error.gif" alt="">
</body>
</html>