<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
</head>
<body> 
    <main>
        <form action="/otp" method="post">
            <h1>Hariom Milk</h1>
            <div class="logo">
                <img src="/images/cow.gif" alt="">
            </div>
            <hr>
            <input class="email" type="email" name="email" id="" placeholder="Enter you Email">
            <input type="submit" value="Login">
        </form>

        <img class="image" src="/images/cow.png" alt="">
    </main>
    <script src="/javaScripts/login.js"></script>
</body>
</html>