<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/more.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <div class="header">
            <div class="headerProfile">
                <div class="profilePicture">
                    <%if(user.type=="farmer"){%>
                        <img class="prime" src="/images/premium.png" alt="">
                    <%}%>
                    <img class="image" src="/images/profile.png" alt="">
                </div>
                <div class="profileDetail">
                    <div class="name"><%=user.username%></div>
                    <div class="email"><%=user.email%></div>
                    <div class="mobileNumber"><%=user.mobileNumber%></div>
                </div>
            </div>
            <div class="offer"></div>
        </div>
        <div class="header2">
            <div class="box order">
                <img src="/images/manifest.png" alt="">
                <p>My Order</p>
            </div>
            <div class="box support">
                <img src="/images/support.png" alt="">
                <p>Support</p>
            </div>
            <div class="box subscription">
                <img src="/images/membership.png" alt="">
                <p>Subscription</p>
            </div>
        </div>
        <div class="address">
        </div>
        <div class="optionBox profile">
            <div class="icon">
                <img src="/images/profile.png" alt="">
            </div>
            <div class="option">
                <p>My Profile</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox wallet">
            <div class="icon">
                <img src="/images/wallet (1).png" alt="">
            </div>
            <div class="option">
                <p>Wallet</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox refer">
            <div class="icon">
                <img src="/images/exchange.png" alt="">
            </div>
            <div class="option ">
                <p>Refer & Earn</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox transaction">
            <div class="icon">
                <img src="/images/transaction.png" alt="">
            </div>
            <div class="option">
                <p>Transaction</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox mySubscription">
            <div class="icon">
                <img src="/images/exclusive.png" alt="">
            </div>
            <div class="option">
                <p>My Subscription</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        
        <div class="optionBox">
            <div class="icon">
                <img src="/images/faq.png" alt="">
            </div>
            <div class="option">
                <p>FAQs</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox">
            <div class="icon">
                <img src="/images/compliant.png" alt="">
            </div>
            <div class="option">
                <p>Policies</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox">
            <div class="icon">
                <img src="/images/feedback.png" alt="">
            </div>
            <div class="option logout">
                <p>Logout</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
            <%if(user.email=="scmodi9@gmail.com"){%>
                <a class="option" href="/admin/product">
                    <p>Admin Dashboard</p>
                    <i class="ri-arrow-right-s-line"></i>
                </a>
            <%}%>
        </div>
        
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/home.png" alt="">
                <p>Home</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/seller.png" alt="">
                <p>Seller</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/cart.gif" alt="">
                <p>Cart</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/food.png" alt="">
                <p>Feed</p>
            </div>
            <div class="footerBox more">
                <img src="/images/more.png" alt="">
                <p>More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/more.js"></script>
    
</body>
</html>