<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="stylesheet" href="/stylesheets/placeOrder.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
</head>
<style>
    /* Fullscreen Loader */
    #loader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    /* Loader Animation */
    .spinner {
        width: 50px;
        height: 50px;
        border: 5px solid #ddd;
        border-top: 5px solid blue;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<body>
    <main>
        <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>
        <h2 class="header">Delivery Address</h2>
        <div class="tracker">
        <div class="diagram">
            <div class="circle current">1</div>
            <div class="line"></div>
            <div class="circle">2</div>
            <div class="line"></div>
            <div class="circle">3</div>
        </div>
        <div class="stepName">
            <div class="addressStep">Address</div>
            <div class="orderDetailsStep">Order Details</div>
            <div class="paymentStep">Payment</div>
        </div>
    </div>
    <div class="address" >
        <div class="addressHeader">
            <p>Delivery Address:</p>
            <div class="addressChange" style="display: none;">Change</div>
        </div>
        <div class="userName">Hariom Modi</div>
        <div class="addressText editAddress" contenteditable="true" id="<%=product._id%>">
            <%=user.address%>
        </div>
    </div>
    
        <div class="fakeFooter"></div>
        <div class="footer" >
            <form action="/orderAddress/placeOrder/<%=product._id%>" method="post"> 
                <input type="hidden" name="address" calss="newAddress" value="<%=user.address%>">
                <input type="submit" value="Save"  class="confirmOrder">
            </form>
       
        </div>
    </main>
    <!-- <script src="/javaScripts/nav.js"></script> -->
    <script src="/javaScripts/orderAddress.js"></script>
    <script src="/javaScripts/loader.js"></script>
</body>
</html>