<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="stylesheet" href="/stylesheets/placeOrder.css">
    
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
</head>
<style>
    /* Fullscreen Loader */
    #loader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    /* Loader Animation */
    .spinner {
        width: 50px;
        height: 50px;
        border: 5px solid #ddd;
        border-top: 5px solid blue;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<body> 
    <main>
        <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>
        <h2 class="header">Order Payment</h2>
        <div class="tracker">
        <div class="diagram">
            <div class="circle completed">1</div>
            <div class="line"></div>
            <div class="circle completed">2</div>
            <div class="line"></div>
            <div class="circle current" >3</div>
        </div>
        <div class="stepName">
            <div class="addressStep">Address</div>
            <div class="orderDetailsStep">Order Details</div>
            <div class="paymentStep">Payment</div>
        </div>
    </div>
    <div class="walletPay">
        <div class="checkBox">
        <input type="checkbox" name="" id="" class="check">
        </div>
        <div class="walletDetail" id="<%=user._id%>">
            <h3>Pay Using Hairom Milk Wallet</h3>
            <div class="availableBalance" style="display: flex;">Available Balance :₹ <div class="balance"><%=user.walletBalance%></div> /-</div>
        </div>
    </div>
    <div class="code">
        <div class="inputCode" contenteditable="true"></div>
        <div class="applyCode">Apply Code</div>
    </div>
    <div class="couponText">Apply suitable coupon code</div>
        <div class="offer">
            <div class="coupon"></div>
            <div class="coupon"></div>
            <div class="coupon"></div>
            <div class="coupon"></div>
        </div>
        <div class="fakeFooter"></div>
        <div class="footer" style="justify-content: space-evenly;">
            <div class="pay1">₹<div class="pay"></div>/-</div>
            <div class="confirmOrder" id="<%=product._id%>">Payment</div>
        </div>
    </main> 
    <script src="/javaScripts/orderPayment.js"></script>
    <script src="/javaScripts/loader.js"></script>
</body> 
</html>
