<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body> 
    <main>
        <form action="/verify" method="post">
            <h1>Hariom Milk</h1>
            <div class="logo">
                <img src="/images/cow.gif" alt="">
            </div>
            <hr>
            <div class="otp">
                <input class="one" type="number" name="one" id="">
                <input class="two" type="number" name="two" id="">
                <input class="three"  type="number" name="three" id="">
                <input class="four" type="number" name="four" id="">
            </div>
           
            <input class="submitOtp" type="submit" value="OTP">
        </form>

        <img class="image" src="/images/cow.png" alt="">
    </main>
    <script src="/javaScripts/otp.js"></script>
</body>
</html>