<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/more.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <h1>Refer & Earn</h1>
        <img src="/images/megaphone.png" alt="" height="200px">
        <p>Refer your friend and earn ₹10/- per refer</p>
        <strong>Rules</strong>
        <ol>
            <li>Share this website link to your friend</li>
            <li>when your friend register and fill your refer code in his refer box</li>
            <li> and when your friend buy a product upto ₹100/-</li>
            <li>You will get ₹10/- and your friend get ₹10/- in your wallet </li>
        </ol>
        <h2>Refer Box</h2>
        <input class="referBox" type="text" placeholder="e.g. ABCDEF">
        <input type="submit" value="Submit">
        <div class="fakeFooter"></div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/home.png" alt="">
                <p>Home</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/seller.png" alt="">
                <p>Seller</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/cart.gif" alt="">
                <p>Cart</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/food.png" alt="">
                <p>Feed</p>
            </div>
            <div class="footerBox more">
                <img src="/images/more.png" alt="">
                <p>More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    
</body>
</html>