<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Scanner</title>
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <style>
    body{
        height: 100vh;
        width: 100vw;
    }
 main{
        height: 100vh;
        width: 100vw;
        max-width:30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #reader{
        height: 60vh;
        width: 100vw;
    }

  </style>
</head>
<body>
    <main>
        <h2>Scan User QR to Confirm Delivery</h2>
        <div id="reader"></div>
        <div id="result">Waiting for scan...</div>
    </main>
  

  <script>
    function onScanSuccess(decodedText, decodedResult) {
     window.location.href = `/confirmOrder/${decodedText}`
      html5QrcodeScanner.clear();
    }

    function onScanFailure(error) {
      // silently ignore scan errors
    }

    Html5Qrcode.getCameras().then(devices => {
      if (devices && devices.length) {
        let backCamera = devices.find(device => device.label.toLowerCase().includes("back"))
                       || devices[devices.length - 1]; // fallback to last if no label

        const qrCodeScanner = new Html5Qrcode("reader");
        qrCodeScanner.start(
          backCamera.id,
          {
            fps: 60,
            qrbox: 200
          },
          onScanSuccess,
          onScanFailure
        );
      } else {
        alert("No camera found");
      }
    }).catch(err => {
      console.error(err);
      alert("Camera error: " + err);
    });

  </script>
</body>
</html>


