<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sellerPage.css">
</head>
<body>
    <main> 
        <div class="todayReport">
            <h1>Today Report</h1>
            <div class="morningReport">
                <div class="row">
                    <h3>Morning</h3>
                </div>
                <div class="row">
                    <p>Total Milk : </p>
                    <p>4L</p>
                </div>
                <div class="row">
                    <p>Fat :</p>
                    <p>5.2</p>
                </div>
                <div class="row">
                    <p>Price pre liter :</p>
                    <p>₹50</p>
                </div>
                <div class="row">
                    <p>Total Profit :</p>
                    <p>₹200</p>
                </div>
            </div>
            <div class="nightReport">
                <div class="row">
                    <h3>Night</h3>
                </div>
                <div class="row">
                    <p>Total Milk :</p>
                    <p>4L</p>
                </div>
                <div class="row">
                    <p>Fat :</p>
                    <p>5.2</p>
                </div>
                <div class="row">
                    <p>Price pre liter :</p>
                    <p>₹50</p>
                </div>
                <div class="row">
                    <p>Total Profit :</p>
                    <p>₹200</p>
                </div>
            </div>
        </div>
        <div class="option">
            <div class="box report" id="report">
                <img id="report"  src="/images/report.png" alt="">
                <p id="report">Report</p>
            </div>
            
            <div class="box earning" id="earning">
                <img id="earning" src="/images/profit.png" alt="">
                <p id="earning">Earning Analysis</p>
            </div>
            <div class="box profit">
                <img src="/images/profit (1).png" alt="">
                <p>Check Profitability</p>
            </div>
            <div class="box feedOrder">
                <img src="/images/delivery-service.png" alt="">
                <p>Feed Order</p>
            </div>
        </div>
        
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/home.png" alt="">
                <p>Home</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/seller.png" alt="">
                <p>Seller</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/cart.gif" alt="">
                <p>Cart</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/food.png" alt="">
                <p>Feed</p>
            </div>
            <div class="footerBox more">
                <img src="/images/more.png" alt="">
                <p>More</p>
            </div>
        </div>
    </main>
    <div class="reportjs">
        <div class="top"></div>
        <div class="input">
            <input type="date"name="" id="">
            <p>To</p>
            <input type="date"name="" id="">

        </div>
        <p class="or">Or</p>
        <div class="inputOption">
            <div class="time">
                Last Month
            </div>
            <div class="time">
                1 Week
            </div>
            <div class="time">
                6 Month
            </div>
            <div class="time">
                1 Year
            </div>
            <div class="reportBar">
                <div class="reportView">View</div>
                <div class="reportDownload">Download</div>
            </div>
        </div>
    </div>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/sellerPage.js"></script>
    
</body>
</html>