<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sellerSignup.css">
</head>
<body> 
    <main>
        <form action="/sellerSignup1" method="post" enctype="multipart/form-data">
            <h1>Hariom Milk</h1>
            <div class="logo">
                <img src="/images/cow.gif" alt="">
            </div>
            <hr>
            <input type="text"name="name" value="<%=user.username%>" placeholder="Full name" required>
            <input type="tel" name="mobileNumber" value="<%=user.mobileNumber%>" id="" placeholder="Mobile Number" required>
            <input type="text" name="address" id="" value="<%=user.address%>" placeholder="Address" required>
            <div class="input">
                <p>Profile Picture</p>
                <input type="file" name="image" id="" class="file" required>
            </div>
            <input type="submit" value="Login">
        </form>

        <img class="image" src="/images/cow.png" alt="">
    </main>
    <script src="/javaScripts/sellerSignup.js"></script>
</body>
</html>