<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="stylesheet" href="/stylesheets/sellerPage.css">
    <style>
        /* Fullscreen Loader */
        #loader {
            position: fixed;
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        /* Loader Animation */
        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid #ddd;
            border-top: 5px solid blue;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <main> 
           <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>
        <div class="todayReport">
            <h1>Today Report</h1>
            <div class="morningReport">
                <div class="row">
                    <h3>Morning</h3>
                </div>
                <div class="row">
                    <p>Total Milk : </p>
                    <p>4L</p>
                </div>
                <div class="row">
                    <p>Fat :</p>
                    <p>5.2</p>
                </div>
                <div class="row">
                    <p>Price pre liter :</p>
                    <p>₹50</p>
                </div>
                <div class="row">
                    <p>Total Profit :</p>
                    <p>₹200</p>
                </div>
            </div>
            <div class="nightReport">
                <div class="row">
                    <h3>Night</h3>
                </div>
                <div class="row">
                    <p>Total Milk :</p>
                    <p>4L</p>
                </div>
                <div class="row">
                    <p>Fat :</p>
                    <p>5.2</p>
                </div>
                <div class="row">
                    <p>Price pre liter :</p>
                    <p>₹50</p>
                </div>
                <div class="row">
                    <p>Total Profit :</p>
                    <p>₹200</p>
                </div>
            </div>
        </div>
        <div class="option">
            <div class="box report" id="report">
                <img id="report"  src="/images/report.png" alt="">
                <p id="report">Report</p>
            </div>
            
            <div class="box earning" id="earning">
                <img id="earning" src="/images/profit.png" alt="">
                <p id="earning">Earning Analysis</p>
            </div>
            <div class="box profit">
                <img src="/images/profit (1).png" alt="">
                <p>Check Profitability</p>
            </div>
            <div class="box feedOrder">
                <img src="/images/delivery-service.png" alt="">
                <p>Feed Order</p>
            </div>
        </div>
        
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home" id="home">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" id="home" alt="">
                <pid="home" >Home</p>
            </div>
            <div class="footerBox seller" id="order">
                <img src="https://cdn-icons-png.flaticon.com/128/11458/11458660.png" id="order" alt="">
                <p id="order">Order</p>
            </div>
            <div class="footerBox center cart" id="cart">
                <img src="https://cdn-icons-gif.flaticon.com/6416/6416376.gif" id="cart" alt="">
                <p id="cart">Cart</p>

            </div>
            <div class="footerBox feed" id="wallet">
                <img src="https://cdn-icons-png.flaticon.com/128/869/869118.png" id="wallet" alt="">
                <p id="wallet">Wallet</p>
            </div>
            <div class="footerBox more" id="more">
                <img src="https://cdn-icons-png.flaticon.com/128/9091/9091427.png" id="more" alt="">
                <p id="more">More</p>
            </div>
        </div>
    </main>
    <div class="reportjs">
        <div class="top"></div>
        <div class="input">
            <input type="date"name="" id="">
            <p>To</p>
            <input type="date"name="" id="">

        </div>
        <p class="or">Or</p>
        <div class="inputOption">
            <div class="time">
                Last Month
            </div>
            <div class="time">
                1 Week
            </div>
            <div class="time">
                6 Month
            </div>
            <div class="time">
                1 Year
            </div>
            <div class="reportBar">
                <div class="reportView">View</div>
                <div class="reportDownload">Download</div>
            </div>
        </div>
    </div>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/sellerPage.js"></script>
    <script src="/javaScripts/loader.js"></script>
</body>
</html>