<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/transaction.css">
</head>
<body>
    <main>
        <div class="history">
            <h1>Transaction History</h1>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹136</div>
                </div>
            </div>
        </div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/home.png" alt="">
                <p>Home</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/seller.png" alt="">
                <p>Seller</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/cart.gif" alt="">
                <p>Cart</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/food.png" alt="">
                <p>Feed</p>
            </div>
            <div class="footerBox more">
                <img src="/images/more.png" alt="">
                <p>More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <!-- <script src="/javaScripts/transaction.js"></script> -->
    
</body>
</html>