<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/transaction.css">
    <style>
        /* Fullscreen Loader */
        #loader {
            position: fixed;
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        /* Loader Animation */
        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid #ddd;
            border-top: 5px solid blue;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <main>
        <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>
        <div class="history">
            <h1>Transaction History</h1>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹126</div>
                </div>
            </div>
            <div class="transaction">
                <div class="part1">
                    <div class="date">26/03/2025</div>
                    <div class="price">+₹24</div>
                </div>
                <div class="part2">
                    <div class="paymentType">Online Payment</div>
                    <div class="totalBalance">Total Balance: ₹136</div>
                </div>
            </div>
        </div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/home.png" alt="">
                <p>Home</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/seller.png" alt="">
                <p>Seller</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/cart.gif" alt="">
                <p>Cart</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/food.png" alt="">
                <p>Feed</p>
            </div>
            <div class="footerBox more">
                <img src="/images/more.png" alt="">
                <p>More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <!-- <script src="/javaScripts/transaction.js"></script> -->
    <script src="/javaScripts/loader.js"></script>
</body>
</html>