<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
    <link rel="stylesheet" href="/stylesheets/wallet.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<style>
    /* Fullscreen Loader */
    #loader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    /* Loader Animation */
    .spinner {
        width: 50px;
        height: 50px;
        border: 5px solid #ddd;
        border-top: 5px solid blue;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
</head>
<body>
    <main>
       <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>
        
        <div class="walletTop1">
            <div class="text1">Wallet balance</div>
            <div class="amount1">₹<%=user.walletBalance%></div>
            <a href="/addMoney">Add Money</a>
        </div>
        <div class="optionBox1">
            <div class="refer1 option1">
                <div class="optionText1">Refer <i class="ri-information-line"></i></div>
                <div class="money1">₹<%=user.referAmount%></div>
            </div>
            <div class="cashBack1 option1">
                <div class="optionText1">Cash Back <i class="ri-information-line"></i></div>
                <div class="money1">₹<%=user.cashBack%></div>

            </div>
        </div>
        <div class="offer offer1">
            <div class="coupon coupon1"></div>
            <div class="coupon coupon1"></div>
            <div class="coupon coupon1"></div>
            <div class="coupon coupon1"></div>
            
        </div>
        <div class="fakeFooter"></div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home" id="home">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" id="home" alt="">
                <pid="home" >Home</p>
            </div>
            <div class="footerBox seller" id="order">
                <img src="https://cdn-icons-png.flaticon.com/128/11458/11458660.png" id="order" alt="">
                <p id="order">Order</p>
            </div>
            <div class="footerBox center cart" id="cart">
                <img src="https://cdn-icons-gif.flaticon.com/6416/6416376.gif" id="cart" alt="">
                <p id="cart">Cart</p>

            </div>
            <div class="footerBox feed" id="wallet">
                <img src="https://cdn-icons-png.flaticon.com/128/869/869118.png" id="wallet" alt="">
                <p id="wallet">Wallet</p>
            </div>
            <div class="footerBox more" id="more">
                <img src="https://cdn-icons-png.flaticon.com/128/9091/9091427.png" id="more" alt="">
                <p id="more">More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/wallet.js"></script>
    <script src="/javaScripts/loader.js"></script>
</body>
</html>