*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    /* background-image: url(/images/cow.png);
    background-position: center;
    background-size: contain;
    background-position: top ;
    background-repeat: no-repeat;
    background-position-y: 4rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}
main{
    height: 100%;
    width: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* background: linear-gradient( 145deg,rgb(0, 255, 255),rgba(0, 255, 255, 0.33),rgba(0, 255, 255, 0.42),rgba(0, 255, 255, 0.141),white,white,white); */
}

.header{
    height: 3.5rem;
    max-width: 100vw;
    width: 30rem;
    /* border: 1px solid black; */
    /* position: sticky;
    top: 0; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: white; */

}
select{
    height: 2.5rem;
    width: 7rem;
    font-size: 1rem;
    outline: none;
}
.input{
    height: 60%;
    width: 75%;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background-color: white;
}
.input img{
    min-height: 2rem;
}
.header img{
    height: 60%;
}
.box{
    height: fit-content;
    width: 100%;
    max-width: 30rem;
    /* min-width: 25rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
    padding: 1rem;
}
.user{
    height: 6rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    justify-content:space-evenly;
}
.image{
    height: 4rem;
    width: 4rem;
    min-width: 3rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.image img{
    height: 100%;width: 100%
}
.detail{
    height: 6rem;
    width: 70%;
    padding: 0.5rem;
    /* border: 1px solid black; */
}
.name,.address.view{
    height: calc(100%/3);
    width: 100%;
    /* border: 1px solid black; */
    padding: 0.5rem;
}
.address{
    opacity: 0.6;
}
.view{
    height: 2rem;
    width: 15%;
    min-width: 4rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.687);
    color: white;
}
.footer{
    height: 4.5rem;
    max-width: 100vw;
    width: 30rem;
    /* border: 1px solid black; */
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: white;

}
.footerBox{
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
    font-size: 0.8rem;
    /* border-top: 1px solid black; */

}
.center{
    border-radius: 50%;
    /* border: 1px solid black; */
    bottom: 2rem;
    position: relative;
    background-color: white;
    /* background-color: rgba(0, 255, 255, 0.744); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.39),inset 0 0 10px rgba(218, 218, 218, 0.226);
}
.center img{
    min-height: 2.5rem;
    min-width: 2.5rem;
    mix-blend-mode: multiply;
    

}
.footerBox img{
    height: 1.6rem;
    width: 1.6rem;
}
.fakeFooter{
    height: 5rem;
    width: 100%;
}
