*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-weight:500;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    /* background-image: url(/images/cow.png);
    background-position: center;
    background-size: contain;
    background-position: top ;
    background-repeat: no-repeat;
    background-position-y: 4rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}
main{
    height: 100%;
    width: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient( 145deg,rgb(0, 255, 255),rgba(0, 255, 255, 0.33),rgba(0, 255, 255, 0.42),rgba(0, 255, 255, 0.141),white,white,white); */
}
.todayReport{
    height: fit-content;
    width: 95%;
    min-width: 100vw;

    /* min-width: 28rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.todayReport h1{
    padding: 0.5rem;
}
.morningReport,.nightReport{
    height: 13rem;
    width: 100vw;
    /* min-width: 100vw; */
    max-width: 25rem;
    border: 1px solid rgba(0, 0, 0, 0.092);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.47);
    /* margin: 0.5rem; */
    border-radius: 15px;
}

.row{
    height: calc(100%/5);
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    text-decoration: underline;
}
.row p{
    padding: 0.4rem;
}
.option{
    height: fit-content;
    width:100vw;
    max-width: 20rem;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
.box{
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
}
.box img{
    height: 2rem;
    width: 2rem;
}
.footer{
    height: 4.5rem;
    max-width: 30rem;
    width: 100vw;
    /* border: 1px solid black; */
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: white;

}
.footerBox{
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
    font-size: 0.8rem;
    /* border-top: 1px solid black; */

    transition: all linear 350ms;
}
.footerBox:active{
    background-color: gray;
}
.center{
    border-radius: 50%;
    /* border: 1px solid black; */
    bottom: 2rem;
    position: relative;
    background-color: white;
    /* background-color: rgba(0, 255, 255, 0.744); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.39),inset 0 0 10px rgba(218, 218, 218, 0.226);
}
.center img{
    min-height: 2.5rem;
    min-width: 2.5rem;
    mix-blend-mode: multiply;
    

}
.footerBox img{
    height: 1.6rem;
    width: 1.6rem;
}
.seller img{
    height: 1.9rem;
    width: 1.9rem;
}
.fakeFooter{
    height: 5rem;
    width: 100%;
}

.reportjs{
    height: 20rem;
    width:100%;
    max-width: 30rem;
    flex-shrink: 0;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    /* background-color: gray; */
    /* background:linear-gradient(105deg,rgb(0, 132, 255),rgb(0, 132, 255),rgb(7, 170, 235)); */
    background-color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: none;
}
.top{
    height: 0.5rem;
    background-color: rgba(128, 128, 128, 0.605);
    width: 4rem;
    place-self: center;
    border-radius: 10px;
    margin-top: 0.3rem;
} 
.input{
    height: 3.3rem;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .from,.to{
    height: 95%;
    width: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
} */
 input{
    height:80%;

 }
.input p{
    font-size: 2rem;
}
.or{
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.inputOption{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}
.time{
    height: 3.3rem;
    width: 10rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
     transition: all linear 10ms;
}
.time:hover{
    border-radius: 20px;
}
.reportBar{
    height: 3.3rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
.reportView,.reportDownload{
    height: 100%;
    width: 45%;
    /* border: 1px solid black; */
    /* border:1px solid blue; */
    background-color: rgb(52, 49, 49);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    /* background-color: rgba(0, 60, 255, 0.805); */
    /* background-color: white; */
     transition: all linear 10ms;
}
.reportView:hover,.reportDownload:hover{
    border-radius: 20px;

}
