*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-weight:500;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    /* background-image: url(/images/cow.png);
    background-position: center;
    background-size: contain;
    background-position: top ;
    background-repeat: no-repeat;
    background-position-y: 4rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}

main{
    height: 100%;
    width: 100vw;

    max-width: 28rem;
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(61, 255, 239, 0.052); */
    /* row-gap: 0.5rem; */
    /* background:linear-gradient(105deg,rgb(0, 132, 255),rgb(0, 132, 255),rgb(7, 170, 235)); */

} 
.header{
    height: 10rem;
    /* width: 28rem; */
    width: 100vw;
    max-width: 30rem;
    /* border: 1px solid black; */
    position: sticky;
    top: 0;
    background:linear-gradient(105deg,rgb(0, 132, 255),rgb(0, 132, 255),rgb(7, 170, 235));
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: white;
}
.walletText{
    width: 100%;
    padding: 1rem;
    /* border: 1px solid black; */
    opacity: 0.6;
    font-size: 1.3rem;

}
.balance{
    height: 4rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 2rem 0 2rem 0;
    /* border: 1px solid black; */
    background-color: rgba(46, 139, 86, 0.181);
}
.balance i{
    font-size: 1.7rem;
}
.text{
    height: 100%;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    gap: 0.3rem;
    font-weight: 800;
    font-size: 1rem;
}
.price{
    opacity: 0.6;
}

.addMoney{
    height: 15rem;
    width: 90%;
    max-width: 28rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.input{
    height: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid skyblue;

}
input{
    height: 100%;
    width: 90%;
    outline: none;
    border: none;
    /* border-bottom: 2px solid skyblue; */
    font-size: 1.4rem;
    padding-left: 0.3rem;
}
.option{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* border: 1px solid black; */

}
.box{
    height: 65%;
    width:4.5rem;
    border: 1px solid rgba(0, 0, 0, 0.53);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}
.pay{
    height: 2.5rem;
    width: 7rem;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 157, 255);
    color: white;
    font-weight: 700;
    transition: all linear 350ms;
}
.pay:active{
    background-color: rgba(128, 128, 128, 0.418);
}
::-webkit-inner-spin-button{
    display: none;
}
.couponText{
    font-weight: 500;
    color: rgb(46, 139, 86);
    
}
.offer{
    height: 9rem;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 2rem;
    display: flex;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}
.coupon{
    height: 90%;
    width: 70%;
    max-width: 20rem;
    border: 1px solid black;
    flex-shrink: 0;
    margin-left: 0.5rem;
    border-radius: 13px;
}
.footer{
    height: 4.5rem;
    max-width: 100vw;
    width: 30rem;
    /* border: 1px solid black; */
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: white;

}
.footerBox{
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
    font-size: 0.8rem;
    /* border-top: 1px solid black; */
    transition: all linear 350ms;
}
.footerBox:active{
    background-color: gray;
}
.center{
    border-radius: 50%;
    /* border: 1px solid black; */
    bottom: 2rem;
    position: relative;
    background-color: white;
    /* background-color: rgba(0, 255, 255, 0.744); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.39),inset 0 0 10px rgba(218, 218, 218, 0.226);
}
.center img{
    min-height: 2.5rem;
    min-width: 2.5rem;
    mix-blend-mode: multiply;
    

}
.footerBox img{
    height: 1.6rem;
    width: 1.6rem;
}
.seller img{
    height: 1.9rem;
    width: 1.9rem;
}
.fakeFooter{
    height: 5rem;
    width: 100%;
}

.walletTop1{
    height: 11rem;
    width: 100%;
    max-width: 30rem;
    background-color: rgb(59, 58, 58);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 0.3rem;
    padding-top: 1rem;
    justify-content: space-evenly;
}
.walletTop1 a{
    color:white;
    text-decoration:underline dashed;
}
.text1{
    font-size: 1rem;
    height: 3rem;
    /* border: 1px solid white; */
}
.amount1{
    height: 2.5rem;
    font-size: 2rem;
    /* border: 1px solid white; */

}
.optionBox1{
    height:fit-content;
    width: 100vw;
    max-width: 30rem;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.option1{
    height: 4rem;
    width: 8rem;
    border-radius: 3px;
    border: 0.4px solid black;
}
.optionText1,.money1{
    height: calc(100%/2);
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    opacity: 0.8;
}
.money1{
    opacity: 0.6;

}
.optionText1 i{
    padding-left: 0.5rem;
}
.offer1{
    position: absolute;
    bottom: 9rem;
    height: 8rem;
}
.coupon1{
    height: 8rem;
    border: 0.5px solid black;

}